<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
<nav>
    <div class="nav-wrapper">
        <div class="container">
            <a href="/" class="brand-logo">Blog Admin</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/Panel">Kullanıcı</a></li>
                <li><a href="/Panel/Kategori">Kategori</a></li>
                <li><a href="/Panel/Posts">Post</a></li>
                <li><a href="/LogOut">Çıkış</a> </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {{.LayoutContent}}
</div>

</body>
<script type="text/javascript">

</script>
</html>